.login-page {
    position: relative;
    height: 100vh;
    background-image: url("../src/assets/app-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: green;
    text-align: center;
}

.connect-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;

}