.tile-info-rect {
  font-family: "Comic Sans MS";
  width: 400px;
  height: 600px;
  background-image: linear-gradient(
    to bottom right,
    rgb(26, 63, 131),
    rgb(1, 122, 28)
  );
}

.game-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 40px 40px 40px;
}

.event-history {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.event-name {
  background-color: rgb(100 116 139);
  min-width: 400px;
}
.event-history-table {
  min-width: 400px;
  max-width: 400px;
  min-height: 500px;
  max-height: 500px;
  justify-content: start;
  align-items: start;
  background-color: rgb(148 163 184);
  overflow-y: auto;
}
